{% extends "base.html.twig" %}
{% block title %} {{ parent() }}Accueil{% endblock %}

{% block contenu %} 
<h1>Nom: AHBIZ</h1>
<h1>Prenom: Sofiane</h1>
<h1><classe: SIO1B<h/1>
<h1>Groupe: 1</h1>
<a href="url">https://github.com/sahbiz20/TP1_php</a>
{% endblock %}